body
{
    padding: 0;
    margin: 0;
}

ul
{
    margin-top: 8px; 
    padding-left: 20px;
}

a
{
    color: dodgerblue; 
    text-decoration: none;
}

#home
{
    display: block;
    background-color: dodgerblue; 
    color: white; 
    line-height: 48px; 
    width: 48px;
    text-align: center;
    margin: 16px auto;
    border-radius: 50%;
}

img 
{
    width: 400px;
    height: 300px;
}

.large
{
    width: 900px;
    height: 600px;
}

.vertical
{
    list-style-type: none;
    width: 555px;
    margin: 16px auto 0 auto;
    font-size: 22px;
    
}

.vertical li
{
    margin-top: 8px;
    text-align: center;
}

.vertical li a
{
    font-variant: small-caps;
    font-family:  Comic Sans MS;
}

.vertical li a:hover
{
    color: blue;
}

.horizontal
{
    list-style-type: none;
    background-color: dodgerblue;
    width: 550px;
    margin: 0 auto;
    border: 3px solid black;
    border-radius: 8px;
    margin-top: 20px;
}
.horizontal li 
{
    position: relative;
    left: -7.5px;
    display: inline-block;
    margin-left: 0;
    width: 106px;
    text-align: center;
}

.horizontal li a
{
    color: aliceblue;
    font-size: 22px;
    font-variant: small-caps;
}

table
{
    margin: 16px auto;
    border-collapse: collapse
}

table, table th, table td
{
    border: 2px outset #000;
    font-size: 22px;
}


table tr:nth-child(odd)
{
    background-color: gray;
}

table tr:nth-child(even)
{
    background-color: lightgray;
}

table tr:nth-child(1)
{
    background-color: dodgerblue;
}

table tr:hover
{
    background-color: white;;
}

/* Photo Album */
#imgBox {
    width: 760px;
    height: 500px;
    margin: auto;
    background-image: url('../image/Photo Album/ព្រះបរមរាជវាំង.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
#imgBox span
{
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    color: white;
    font-size: 20px;
}
  .thumbs {
    width: 750px;
    height: 100px;
    margin: 0 auto;
    background-color: antiquewhite;
    border: 5px solid silver;
  }

  .thumbs img {
    height: 100px;
    width: 150px;
    float: left;
    transition: 0.5s;
  }
  .thumbs img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
  }